/* .productoImg{
    display: block;
    width: 50%;
} */

.tituloImg{
    width: 100%;
}

.container-img{
  width: 100%;
  /* height: 600px; */
  /* margin: 0 auto; */
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.productoImgServicio{
    width: 100%;
}