  /* Tamaño de los contenedores de imagenes  */
  .cClass {
    width: 100%;
    color: #083c64;
    /* height: 600px; */
    /* margin: 0 auto; */
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5% 0 5% 0;
}

.categ{
    color: #083c64 !important;
    margin: 0 10px !important;
}

.gClass {
    width: 100%;
    color: #083c64;
    /* height: 600px; */
    /* margin: 0 auto; */
    text-align: center;
    display: grid;

}

.productosName {
    font-size: 95%;
}

.op {
    padding: 0 5%;
    margin: 0 2px !important;
    width: 40% !important;
    color: white;
    font-size: 14px !important;
    background-color: #083c64;
    border-radius: 10px;
    /* word-break: keep-all !important; */
}

@media (min-width: 700px) {
    .op{
        font-size: 12px !important;
    }
}

.contador {
    color: grey;
    margin: 0;
}


.op2 {
    padding: 5px;
    color: white;
    font-size: 20px !important;
    background-color: #083c64;
    border-radius: 10px;
    width: 100%;
}

/* tamaño de los productos */
/* chico */
.c {
    width: 60%;
    /* height: 8rem; */
}

.g {
    width: 100%;
}

.producto {
    margin: 5% 0;
}

.opciones2 {
    bottom: 10% !important;
    width: 100%;
    margin: 10% 0 10% 0;
}

.ptext1{
    color:rgb(51, 51, 51);
    font-size: 15px;
}