.misdatosopciones{
        font-size: 10px;
        color: white;
        background-color: #083c64;
        border-radius: 10px;
        width: 55%;
}

.misdatosform{
        text-align: center;
        margin: 10% 0 25% 0;
}