/* style={{ width: '100%', padding: '0'}} */

.searchbarTop, .searchbarTopBlue {
    width: 100%;
}

.sc-ion-searchbar-md {
    padding-right: 0px !important;
}

.rowTop {
    background-color: #083c64;
}

.searchbarTopBlue .searchbar-input.sc-ion-searchbar-md {
    color: white;
    background-color: #083c64;
}